*

!public/
!src/
!lang/
src/stories/

!.babelrc
!next-env.d.ts
!next.config.js
!package.json
!package-lock.json
!postcss.config.js
!semantic.json
!sentry.*.js
!tailwind.config.js
!tsconfig.json
!tsconfig.server.json
